* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    
    width: auto;
}

.header-content {
    max-width: 1000px;
    margin: 0 auto;
    
}
.header-content img {
    width: 300px;
    height: 300px;
    border-radius: 150%;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    height: 530px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 750px;
    
}
